* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#app {
  min-height: 100vh;
}

h2 {
  color: #333;

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

p {
  color: #666;
  line-height: 1.6;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
